<%= flash_helper %>

<div class='infobox'>
	<h4>
		<%= dictionary.name %>
		<%= link_to content_tag(:span, 'Edit'), edit_domain_dictionary_path(@domain, dictionary), :remote => true, :class => 'minibutton makespace-1' %>
		<%= fancy_destroy_button(domain_dictionary_path(@domain, dictionary, :version => dictionary.version), 'All included lexicon and features will be deleted too. Are you sure?', true) %>
	</h4>

	<div class='body'>
		<table class='plain'>
			<tr>
				<th class='span-3'>Label:</th>
				<td class='span-7'><%= dictionary.label %></td>
				<th class='span-3'>Hidden:</th>
				<td class='span-7'><%= dictionary.hidden.yesno %></td>
			</tr>
			<tr>
				<th>Last Update:</th>
				<td colspan="3"><%= last_update_msg(dictionary) %></td>
			</tr>
			<tr>
				<th>Description:</th>
				<td colspan="3"><%= dictionary.description %></td>
			</tr>
		</table>
	</div>
</div>