<%= render "shared/error_messages", :target => @domain %>

<table class='plain'>
	<tr>
		<td class='span-2'><%= f.label :name %></td>
		<td><%= f.text_field :name %></td>
	</tr>
	<tr>
		<td><%= f.label :label %></td>
		<td><%= f.text_field :label %></td>
	</tr>
	<tr>
		<td><%= f.label :hidden %></td>
		<td>
			<%= f.check_box :hidden %>
			<% if f.object.hidden %>
				(Uncheck this <%= content_tag(:strong, 'will not change', :style => 'color:red;') %> included dictionaries or features' visibility.)
			<% else %>
				(Check this <%= content_tag(:strong, 'will change', :style => 'color:red;') %> all included dictionaries and features to hidden.)
			<% end %>
		</td>
	</tr>
	<tr>
		<td><%= f.label :description %></td>
		<td><%= f.text_area :description %></td>
	</tr>
</table>