<%= form_for @feature, :url => domain_dictionary_feature_path(@domain, @dictionary, @feature), :method => :put, :remote => true do |f| %>
	<%= f.hidden_field :version %>
	<div class='infobox'>
		<h4>
			Edit Feature
			<%= fancy_submit_button 'Update' %>
			<%= link_to content_tag(:span, 'Cancel'), domain_dictionary_feature_path(@domain, @dictionary, @feature), :remote => true, :class => 'minibutton' %>
		</h4>
		<div class='body'>
			<%= render 'features/modification', :f => f %>
		</div>
	</div>
<% end %>
